html {
	box-shadow: inset 0px 0px 400px grey;
	font-family: 'Roboto', sans-serif;
}

div {
	width: 100%;
	text-align: center;
	margin: 0;
	z-index: 1;
}

.title {
	padding-top: 50px;
	height: 30vmin;
	font-size: 4.5em; 
	color: rgba(250, 240, 240, .75);
}

.title, #time {
	text-shadow: 1px 1px 4px darkred;
	
}

.timer {
	height: 60vmin;
}

#time {
	order: 1;
	color: rgba(250, 240, 240, 0.85);
	font-size: 3.5em;
}